<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        Cooling Equipment
        <md-divider></md-divider>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="location" ng-model="vm.verticalStepper.step5.CElocation"
                   placeholder="Location" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="manufacturer" ng-model="vm.verticalStepper.step5.CEmanufacturer"
                   placeholder="Manufacturer" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="year" ng-model="vm.verticalStepper.step5.CEyear"
                   placeholder="Year" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <md-switch md-no-ink ng-model="vm.verticalStepper.step5.CEtemperatureAcceptable" aria-label="No Ink Effects">
                Temperature acceptable?
            </md-switch>
        </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="temperatureReturn" ng-model="vm.verticalStepper.step5.CEtemperatureReturn"
                       placeholder="Temperature Return" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="temperatureRegister" ng-model="vm.verticalStepper.step5.CEtemperatureRegister"
                       placeholder="Temperature Register" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="typeOfSystem" ng-model="vm.verticalStepper.step5.CEtypeOfSystem"
                   placeholder="Type of System" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="energySource" ng-model="vm.verticalStepper.step5.CEenergySource"
                   placeholder="Energy Source" required>
        </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        Heating
        <md-divider></md-divider>
    </div>

    <div layout="column" layout-gt-xs="row" flex>
       
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="temperatureReturn" ng-model="vm.verticalStepper.step5.HtemperatureReturn"
                   placeholder="Temperature Return" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="temperatureRegister" ng-model="vm.verticalStepper.step5.HtemperatureRegister"
                   placeholder="Temperature Register" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="typeOfSystem" ng-model="vm.verticalStepper.step5.HtypeOfSystem"
                   placeholder="Type of System" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="text" name="energySource" ng-model="vm.verticalStepper.step5.HenergySource"
                   placeholder="Energy Source" required>
        </md-input-container>
    </div>
</div>
<div layout="column" layout-gt-xs="row">
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea  name="comments" ng-model="vm.verticalStepper.step5.deficiencies"
                 placeholder="Deficiencies">
      </textarea>
    </md-input-container>
</div>
<div layout="column" layout-gt-xs="row" flex>
    <div layout="column" layout-gt-xs="row" ng-if="vm.verticalStepper.step5.deficiencies!==undefined">
        <price-range step="vm.verticalStepper.step5"></price-range>
    </div>
    <div layout="column" layout-gt-xs="row" flex ng-show="vm.verticalStepper.step5.deficiencies!==undefined">
        <md-input-container flex="100" flex-gt-xs="100">
            <!--<div class="upload-file" -->
            <!--ngf-select -->
            <!--ng-model="vm.verticalStepper.step5.CEpictures" -->
            <!--ngf-multiple="true" -->
            <!--ngf-change="vm.uploadDocuments($files)" -->
            <!--accept="image/*">select</div>-->


            <div ng-if="vm.deviceDetector.os.android" name="pictures"
                 ngf-select
                 ngf-change="vm.uploadDocuments($files, '5')"
                 ng-model="vm.verticalStepper.step5.pictures"
                 ngf-multiple="true"
                 class="upload-file"
                 ngf-accept="'image/*'"
                 ngf-pattern="'image/*'"
                 ng-required="vm.verticalStepper.step5.deficiencies!==undefined">
                <span ng-if="vm.multiplesFiles['5']==undefined">Please take some pictures and then click here to upload*</span>
                <div class="file-upload-container" ng-repeat="pic in vm.multiplesFiles['5']">
                    <img ngf-thumbnail="pic" class="thumb" height="100px">
                </div>
            </div>
            <div ng-if="!vm.deviceDetector.os.android" name="pictures"
                 ngf-select
                 ngf-change="vm.uploadDocumentOneByOne($file, '5')"
                 ng-model="vm.verticalStepper.step5.picture"
                 class="upload-file"
                 ngf-accept="'image/*'"
                 ngf-pattern="'image/*'"
                 ng-required="vm.verticalStepper.step5.deficiencies!==undefined">
                <span ng-if="vm.multiplesFilesAndriod['5']==undefined">Select the pictures*</span>
                <div class="file-upload-container" ng-repeat="pic in vm.multiplesFilesAndriod['5']">
                    <div>
                        <img ngf-thumbnail="pic" class="thumb">
                        <a class="close-link" ng-click="vm.removeElementInArray(vm.multiplesFilesAndriod['5'],pic)"></a>
                    </div>
                </div>
            </div>
        </md-input-container>
    </div>
</div>