<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="75">
            <input type="text" name="ownerName" ng-model="vm.verticalStepper.step1.ownerName"
                   placeholder="Owner Name" required >
            <div ng-messages="verticalStep1.ownerName.$error">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="25">
            <input type="number" name="yearsOld" ng-model="vm.verticalStepper.step1.yearsOld"
                   placeholder="Year of Construction" required min="1800" max="{{vm.currentYear}}">
            <div ng-messages="verticalStep1.yearsOld.$error">
                <div ng-message="required">This is required!</div>
                <div ng-message="min">This is too old!</div>
                <div ng-message="max">This is the future! :O</div>
                <div ng-message="number">Just numbers here please</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="100">
            <input type="text" name="ownerAddress" ng-model="vm.verticalStepper.step1.ownerAddress"
                   placeholder="Address"
                   required>
            <div ng-messages="verticalStep1.ownerAddress.$error">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="100">
          <div name="frontSideHouse"
               ngf-drop=""
               ngf-select=""
               ngf-change="vm.uploadDocument($file)"
               ng-model="vm.verticalStepper.step1.frontSideHouse"
               ngf-multiple="false"
               ng-model-rejected="rejFiles"
               ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
               class="upload-file"
               ngf-allow-dir="true"
               ngf-accept="'image/*'"
               ngf-pattern="'image/*'"
               ngf-max-size="10MB"
               required
               ngf-drop-available="dropAvailable">
              <span ng-if="vm.verticalStepper.step1.frontSideHouse==undefined">Upload front side home picture</span>
              <div class="file-upload-container">
                <img ngf-thumbnail="vm.verticalStepper.step1.frontSideHouse" class="thumb" height="100px">
              </div>
          </div>
        </md-input-container>
    </div>
</div>