<div class="md-inline-form">
  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="20">
      <input type="text" name="dwelling" ng-model="vm.verticalStepper.step3.dwelling"
             placeholder="Dwelling"
             required>
      <div ng-messages="verticalStep3.dwelling.$error"
           ng-show="verticalStep3.dwelling.$touched"
           role="alert">
        <div ng-message="required">
          <span>Dwelling field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <input type="text" name="foundations" ng-model="vm.verticalStepper.step3.foundations"
             placeholder="Foundation"
        required>
      <div ng-messages="verticalStep3.foundation.$error"
           ng-show="verticalStep3.foundation.$touched"
           role="alert">
        <div ng-message="required">
          <span>Foundation field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <input type="text" name="construction" ng-model="vm.verticalStepper.step3.construction"
             placeholder="Construction"
             required>
      <div ng-messages="verticalStep3.construction.$error"
           ng-show="verticalStep3.construction.$touched"
           role="alert">
        <div ng-message="required">
          <span>Construction field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <input type="text" name="siding" ng-model="vm.verticalStepper.step3.siding"
             placeholder="Siding"
             required>
      <div ng-messages="verticalStep3.siding.$error"
           ng-show="verticalStep3.siding.$touched"
           role="alert">
        <div ng-message="required">
          <span>Siding field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Doors (Interior & Exterior)</label>
      <md-select ng-model="vm.verticalStepper.step3.doors" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" layout-gt-xs="row">
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Sliding doors</label>
      <md-select ng-model="vm.verticalStepper.step3.slidingDoors" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions" ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Windows</label>
      <md-select ng-model="vm.verticalStepper.step3.windows" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Walls</label>
      <md-select ng-model="vm.verticalStepper.step3.walls" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev"  >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Floors</label>
      <md-select ng-model="vm.verticalStepper.step3.floors" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Stairways</label>
      <md-select ng-model="vm.verticalStepper.step3.stairways" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" layout-gt-xs="row">
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Porches, balconies, Patio</label>
      <md-select ng-model="vm.verticalStepper.step3.porchesBalconiesPatio" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Decks, and carports</label>
      <md-select ng-model="vm.verticalStepper.step3.decksCarports" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Garage door operator(s)</label>
      <md-select ng-model="vm.verticalStepper.step3.garageDoorOperator" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    <!--</md-input-container>-->
    <!--<md-input-container flex="100" flex-gt-xs="20" >-->
      <md-radio-group ng-model="vm.verticalStepper.step3.garageDoorOperatorModel" ng-show="vm.verticalStepper.step3.garageDoorOperator!=='None' && vm.verticalStepper.step3.garageDoorOperator!==undefined">
        <md-radio-button value="Electric" class="md-primary" >Electric</md-radio-button>
        <md-radio-button value="Manual"> Manual </md-radio-button>
      </md-radio-group>
    </md-input-container>

    <md-input-container flex="100" flex-gt-xs="20">
      <label>Fireplace/chimney</label>
      <md-select ng-model="vm.verticalStepper.step3.fireplaceChimney"  class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" layout-gt-xs="row">
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea  name="comments" ng-model="vm.verticalStepper.step3.deficiencies"
             placeholder="Deficiencies" ></textarea>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" ng-show="vm.verticalStepper.step3.deficiencies!==undefined">
        <price-range step="vm.verticalStepper.step3"></price-range>
  </div>
  <div layout="column" layout-gt-xs="row" flex ng-show="vm.verticalStepper.step3.deficiencies!==undefined">
    <md-input-container flex="100" flex-gt-xs="100">
      <!--<div class="upload-file" -->
           <!--ngf-select -->
           <!--ng-model="vm.verticalStepper.step3.pictures" -->
           <!--ngf-multiple="true" -->
           <!--ngf-change="vm.uploadDocuments($files)" -->
           <!--accept="image/*">select</div>-->


      <div ng-if="!vm.deviceDetector.os.android" name="structuralSystems"
           ngf-select
           ngf-change="vm.uploadDocuments($files, '3')"
           ng-model="vm.verticalStepper.step3.pictures"
           ngf-multiple="true"
           class="upload-file"
           ngf-accept="'image/*'"
           ngf-pattern="'image/*'"
           ng-required="vm.verticalStepper.step3.deficiencies!==undefined">
        <span ng-if="vm.multiplesFiles['3']==undefined">Please take some pictures and then click here to upload</span>
        <div class="file-upload-container" ng-repeat="pic in vm.multiplesFiles['3']">
          <img ngf-thumbnail="pic" class="thumb" height="100px">
        </div>
      </div>
      <div ng-if="vm.deviceDetector.os.android" name="structuralSystems"
            ngf-select
            ngf-change="vm.uploadDocumentOneByOne($file, '3')"
            ng-model="vm.verticalStepper.step3.picture"
            class="upload-file"
            ngf-accept="'image/*'"
            ngf-pattern="'image/*'"
            ng-required="vm.verticalStepper.step4.deficiencies!==undefined">
        <span ng-if="vm.multiplesFiles['3']==undefined">Select the pictures</span>
        <div class="file-upload-container" ng-repeat="pic in vm.multiplesFiles['3']">
          <div>
            <img ngf-thumbnail="pic" class="thumb">
            <a class="close-link" ng-click="vm.removeElementInArray(vm.multiplesFilesAndriod['3'], pic)"></a>
            multiplesFiles
        </div>
      </div>
    </md-input-container>
  </div>
</div>