<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="50">
            <md-datepicker ng-model="vm.verticalStepper.step2.dateOfInspection"  md-placeholder="Enter date" ></md-datepicker>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <p>Weather Conditions:</p>
            <div flex-gt-sm="50" ng-repeat="element in vm.verticalStepper.step2.weatherCondition">
                <md-checkbox ng-model="element.value" aria-label="element.name" >
                    {{ element.name}}
                </md-checkbox>
            </div>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <p>Present at the inspection:</p>
            <div flex-gt-sm="50" ng-repeat="element in vm.verticalStepper.step2.presentAtInspection">
                <md-checkbox ng-model="element.value" aria-label="element.name" >
                    {{ element.name}}
                </md-checkbox>
            </div>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <md-switch md-no-ink ng-model="vm.verticalStepper.step2.ownerOcuppied" aria-label="No Ink Effects">
                Owner ocuppied?
            </md-switch>
        </md-input-container>

    </div>
</div>