<div class="md-inline-form">
  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Dwelling</label>
      <md-select ng-model="vm.verticalStepper.step3.dwelling" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.typeOfDwellingOptions"  ng-value="state.abbrev"  >
          {{state.abbrev}}
        </md-option>
      </md-select>
      <div ng-messages="verticalStep3.dwelling.$error"
           ng-show="verticalStep3.dwelling.$touched"
           role="alert">
        <div ng-message="required">
          <span>Dwelling field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <input type="text" name="foundations" ng-model="vm.verticalStepper.step3.foundations"
             placeholder="Foundation"
        required>
      <div ng-messages="verticalStep3.foundation.$error"
           ng-show="verticalStep3.foundation.$touched"
           role="alert">
        <div ng-message="required">
          <span>Foundation field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Construction</label>
      <md-select ng-model="vm.verticalStepper.step3.construction" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.typeOfConstructionOptions"  ng-value="state.abbrev"  >
          {{state.abbrev}}
        </md-option>
      </md-select>
      <div ng-messages="verticalStep3.construction.$error"
           ng-show="verticalStep3.construction.$touched"
           role="alert">
        <div ng-message="required">
          <span>Construction field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Siding</label>
      <md-select ng-model="vm.verticalStepper.step3.siding" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.typeOfSidingOptions"  ng-value="state.abbrev"  >
          {{state.abbrev}}
        </md-option>
      </md-select>
      <div ng-messages="verticalStep3.siding.$error"
           ng-show="verticalStep3.siding.$touched"
           role="alert">
        <div ng-message="required">
          <span>Siding field is required.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Doors (Interior & Exterior)</label>
      <md-select ng-model="vm.verticalStepper.step3.doors" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" layout-gt-xs="row">
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Sliding doors</label>
      <md-select ng-model="vm.verticalStepper.step3.slidingDoors" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions" ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Windows</label>
      <md-select ng-model="vm.verticalStepper.step3.windows" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Walls</label>
      <md-select ng-model="vm.verticalStepper.step3.walls" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev"  >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Floors</label>
      <md-select ng-model="vm.verticalStepper.step3.floors" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Stairways</label>
      <md-select ng-model="vm.verticalStepper.step3.stairways" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="column" layout-gt-xs="row">
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Porches, balconies, Patio</label>
      <md-select ng-model="vm.verticalStepper.step3.porchesBalconiesPatio" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Decks, and carports</label>
      <md-select ng-model="vm.verticalStepper.step3.decksCarports" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100" flex-gt-xs="20">
      <label>Garage door operator(s)</label>
      <md-select ng-model="vm.verticalStepper.step3.garageDoorOperator" class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev">
          {{state.abbrev}}
        </md-option>
      </md-select>
    <!--</md-input-container>-->
    <!--<md-input-container flex="100" flex-gt-xs="20" >-->
      <md-radio-group ng-model="vm.verticalStepper.step3.garageDoorOperatorModel" ng-show="vm.verticalStepper.step3.garageDoorOperator!=='None' && vm.verticalStepper.step3.garageDoorOperator!==undefined">
        <md-radio-button value="Electric" class="md-primary" >Electric</md-radio-button>
        <md-radio-button value="Manual"> Manual </md-radio-button>
      </md-radio-group>
    </md-input-container>

    <md-input-container flex="100" flex-gt-xs="20">
      <label>Fireplace/chimney</label>
      <md-select ng-model="vm.verticalStepper.step3.fireplaceChimney"  class="md-no-underline" required md-no-asterisk="false">
        <md-option ng-repeat="state in vm.selectOptions"  ng-value="state.abbrev" >
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <deficiencies step="vm.verticalStepper.step3" step-number="'3'" pictures-array="vm.multiplesFiles"></deficiencies>
</div>