<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="50">
            <input type="text" name="ownerName" ng-model="vm.verticalStepper.step1.ownerName"
                   placeholder="Owner Name" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="50">
            <input type="text" name="ownerAddress" ng-model="vm.verticalStepper.step1.ownerAddress"
                   placeholder="Address"
                   required>
            <div ng-messages="step1.ownerAddress.$error"
                 ng-show="step1.ownerAddress.$touched"
                 role="alert">
                <div ng-message="required">
                    <span>Firstname field is required.</span>
                </div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="100">
          <div name="frontSideHouse"
               ngf-drop=""
               ngf-select=""
               ngf-change="vm.uploadDocument($file)"
               ng-model="vm.verticalStepper.step1.frontSideHouse"
               ngf-multiple="false"
               ng-model-rejected="rejFiles"
               ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
               class="upload-file"
               ngf-allow-dir="true"
               ngf-accept="'image/*'"
               ngf-pattern="'image/*'"
               ngf-max-size="10MB"
               required
               ngf-drop-available="dropAvailable">
              <span ng-if="vm.verticalStepper.step1.frontSideHouse==undefined">Upload front side home picture</span>
              <div class="file-upload-container">
                <img ngf-thumbnail="vm.verticalStepper.step1.frontSideHouse" class="thumb" height="100px">
              </div>
          </div>
        </md-input-container>
    </div>
</div>