<md-input-container flex="100" flex-gt-xs="25">

    <md-icon  style="display:inline-block;">
        <ng-md-icon icon="attach_money"></ng-md-icon>
    </md-icon>
        <input name="minRange" ng-model="vm.step.minRange"
               placeholder="Minimun amount" type="number"
               required  step="0.01">
    </md-input-container>
    <span>--</span>
    <md-input-container flex="100" flex-gt-xs="25">

        <md-icon  style="display:inline-block;">
            <ng-md-icon icon="attach_money"></ng-md-icon>
        </md-icon>
        <input name="maxRange" ng-model="vm.step.maxRange"
               placeholder="Maximun amount" type="number"
               required  step="0.01">
    </md-input-container>